*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    

}

body{
    background: rgb(48, 48, 48);
}

video.bgvideo{
    z-index: -1;
    position: fixed;
    opacity: 20%;
}

nav.topnav{
    width: 100%;
    height: 110px;
    line-height: 75px;
    padding: 0px 100px;
    z-index: 1;
    background-color: rgb(41, 41, 41,0.6);
    position: fixed;
    border-radius: 100px;
}


/* nav logo image animation */
img.navlogo{
    width: 100px;
    padding-top: 5px;
    z-index: 1;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    transition-duration: 2s;
}

.navlogo:hover {
    transform: rotate(360deg); /* Rotate 360 degrees when hovering */
  }





nav.topnav ul{
    float: right;
    padding-top: 20px;
}

nav.topnav ul li{
    /* makes the links go in a line, side to side */
    display:inline;   
    list-style: none;
}

nav.topnav ul li a{
    color: beige;
    text-decoration: none;
    font-size: x-large;
    text-transform: uppercase;
    padding: 0px 15px;  
    transition: 0.5s;
}

/* hover */
nav.topnav ul li a:hover{
    transition: 0.15s;
    border: 2px solid beige;
    border-radius: 30px;
}




div.mainvid video{
    width: 100%; 
    height: auto;
    
}

div.pfirst{
    padding: 100px;
    text-align: center;
    font-size: 25px;
    color: beige;

}

div.pfirst p{
    font-size: 25px;
    padding: 40px 30px;
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}


/* rooms section start */
 h1.room{
    text-align: center;
    color: rgb(189, 142, 42);
    padding-bottom: 50px;
}

.roomscontainer {
  display: flex;
  align-items: center; /* Vertically align the content */
  
}

.roomimg {
    border-radius: 20px;
    margin-left: 30px;
    width: 600px;
}

.roomp {
    padding: 100px;
    text-align: center;
    font-size:25px;
    color: antiquewhite;
}


/* room section end */

/* diningoption start */

h1.diningoptiontitle{
    text-align: center;
    color: rgb(189, 142, 42);
}

/* dining section */

/* slideshow of the dining options */
h1.diningoptiontitle{
    padding-bottom: 50px; 
    
}

.diningoptionvid{
    margin-left: 30px;
    width: 600px;
    float: left;
    border-radius: 20px;
}

.diningintro{
    padding-right: 100px;
    padding-top: 30px;
    padding-left: 800px;
    font-size: 25px;
    color: antiquewhite;
    text-align: center;
    margin-right: 20px;
}


ul.dininglist{
    padding: 50px;
    margin-left: 750px;
    font-size: 25px;
    padding-top: 80px;
    color: antiquewhite;
    font-size: 25px;
    line-height: 40px;
}

/* space between rooms and dining */
div.diningcontainer{
   margin-bottom: 150px;
   
}


/* start of plus services */
h1.extraservicestitle{
    text-align: center;
    color: #bd8e2a;
    padding-bottom: 50px;
}

.plusservicesvid{
    width: 600px;
    margin-left: 30px;
    border-radius: 20px;
    float: left;
}

p.plusservicesp{
    padding-right: 100px;
    padding-top: 30px;
    padding-left: 800px;
    font-size: 25px;
    color: antiquewhite;
    text-align: center;
    margin-right: 20px;
}

ol.plusserviceslist{
    padding: 50px;
    margin-left: 750px;
    font-size:25px;
    padding-top: 80px;
    color: antiquewhite;
    font-size: 25px;
    line-height: 40px;
}

/* 
footer css start */

footer{
    background-color: rgb(32, 32, 32,0.7); border-top-right-radius: 50px; border-top-left-radius: 50px;
    margin-top: 200px;
}

div.footername{
    text-align: center;
    padding-top: 100px;
    font-size: xx-large;
    color: beige;
  
}

.footerNav{
    padding: 80px;
    border-radius: 40px
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 35px;
    
}


.footerNav ul li a{
    color: white;
    margin: 30px;
    text-decoration: none;
    font-size: 25px;
    opacity: 70%;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 100%;
}

.footerBottom{
    padding: 20px;
    text-align: center;
    background-color: rgb(190, 182, 182); 
    color: rgb(255, 255, 255);  
    opacity: 30%;
    
}




/* BRANCHES PAGE CSS START - the nav bar and main background video*/




/* 
start of maldives branch styling */
h1.maldives_heading{
    text-align: center;
    margin-top: 30px;
    color:#bd8e2a;
    padding: 40px;
}

p.maldives_intro{
    text-align: center;
    font-size: 30px;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: bisque;
    background-color:rgb(0, 0, 0,0.3);
    border-radius: 30px;
}

/* map and picture of branch in maldives styling */

img.maldivesbranchpic{
    margin-left: 200px;
    width: 700px;
    height: auto;
    margin-top: 80px;
    border-radius: 20px;
   
}

.maldivesmap{
    margin-left: 198px;
    border-radius: 20px;
}

/* end of maldives branch styling */
/* start of srilankan branch styling */
.srilanka_heading{
    text-align: center;
    margin-top: 30px;
    color:#bd8e2a;
    padding: 40px;
}

p.srilankan_intro{
    text-align: center;
    font-size: 30px;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: bisque;
    background-color:rgb(0, 0, 0,0.3);
    border-radius: 30px;
}

.srilankanmap{
    margin-left: 198px;
    border-radius: 20px;
}
/* end of srilankan branch styling */

/* start of indian branch styling */

.indian_heading{
    text-align: center;
    margin-top: 30px;
    color:#bd8e2a;
    padding: 40px;
}

p.indian_intro{
    text-align: center;
    font-size: 30px;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: bisque;
    background-color:rgb(0, 0, 0,0.3);
    border-radius: 30px;
}

.indianmap{
    margin-left: 198px;
    border-radius: 20px;
}


/* table styling start */

.branchestable{
    padding: 100px;  
}


table.branchestabletrtd, th, td{
    
    border: 1px solid #000;
    color: snow;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
    border-width: 3px;
    font-size: 25px;
    background-color: rgb(57, 57, 58,0.3);

}


.tablerowpictures{
    width: 500px;
    margin: 20px;
    border-radius: 10px;
}

/* end of the table styling */

/* adventure page styling start */

div.adventureintrocontainer{
   
    padding: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.adventureintro{
    font-size: 25px;
    text-align: center;
    padding: 50px;
    background-color: rgb(0, 0, 0,0.4);
    border-radius: 20px;
    color: beige;
}

/* swimming pool start */

h2.swimmingpoolheading{
    margin-top: 30px;
    padding-left:90px;
    padding-bottom: 20px;
    color: #bd8e2a;
    font-size: 40px;
}



.poolcontainer {
  display: flex;
  align-items: center; /* Vertically align the content */
}

.poolvid {
    
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
    width:700px;
  flex: 1; /* Let the video take up all available horizontal space */
  margin-right: 20px; /* Add some space between the video and the paragraph */
}

.poolintro {
     padding: 100px; 
    text-align: center;
    font-size: 25px;  
    color: beige;
  flex: 2; /* Let the paragraph take up twice as much horizontal space as the video */
}



.poolmap{
    border-radius:20px;
}


.poolmapdiv{
    padding-top: 70px;
    padding-left: 95px;  
}

/* turtle section start */
h2.turtleheading{
    margin-top: 100px;
    padding-left:90px;
    color: #bd8e2a;
    font-size: 40px;
    padding-bottom: 20px;
}


.turtlehatcherycontainer {
  display: flex;
  align-items: center; /* Vertically align the content */
}

.turtlevid {
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    width:700px;
    flex: 1; /* Let the video take up all available horizontal space */
    margin-right: 20px; /* Add some space between the video and the paragraph */
}

.turtleintro {
    padding: 100px;
    text-align: center;
    font-size: 25px;  
    color: beige;
    flex: 2; /* Let the paragraph take up twice as much horizontal space as the video */
}


.turtleintro{
    border-radius:20px;
}

.turtlemapdiv{
    padding-top: 70px;
    padding-left: 95px;  
}

.turtlemap{
    border-radius: 20px;
    margin-top: 20px;
}
/* end of adventure page styling */


/* start of restaurant page styling */

div.restaurantintrocontainer{
   
    padding: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.restaurantintro{
    font-size: 25px;
    text-align: center;
    padding: 50px;
    background-color: rgb(0, 0, 0,0.4);
    border-radius: 20px;
    color: beige;
}


/* fine dining section styling start */

.finedining_heading{
    margin-top: 100px;
    padding-left:90px;
    color: #bd8e2a;
    font-size: 40px;
    padding-bottom: 20px;
}
.finediningcontainer{
    padding-bottom: 70px  ;
   
   
}
.finediningvid{
    width: 700px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    border: 2px solid;
   
}

.finediningintro{
    text-align: center;
    padding: 30px;
    padding-top: 140px;
    padding-left: 840px;
    margin-right: 180px;  
    font-size: 25px;  
    color: beige;
}


.fine_menu{
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(189, 142, 42, 0.3); padding: 20px; border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 37px; 
    padding-left: 340px; padding-right: 340px;
    transition: 0.19s;
}

.fine_menu:hover{
    background-color: #bd8e2a; 
    transition: 0.19s;
}

/* start fine dining menu styling */
.finediningmenu{
    width: 100%;
    height: auto;
}
/* end fine dining menu styling */


/* grill section styling start */
.grill_heading{
    margin-top: 100px;
    padding-left:90px;
    color: #bd8e2a;
    font-size: 40px;
    padding-bottom: 20px;
}
.grillcontainer{
    padding-bottom: 100px  ;

   
   
}
.grillvid{
    width: 700px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    border: 2px solid;
   
}

.grillintro{
    text-align: center;
    padding: 30px;
    padding-top: 140px;
    padding-left: 840px;
    margin-right: 180px;  
    font-size: 25px;  
    color: beige;
    
}


.grill_menu{
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(189, 142, 42, 0.3); padding: 20px; border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 37px; 
    padding-left: 340px; padding-right: 340px;
    transition: 0.19s;
}

.grill_menu:hover{
    background-color: #bd8e2a; 
    transition: 0.19s;

}

/* grill section styling end */

/* sushi bar start styling */

.sushiheading{
    margin-top: 100px;
    padding-left:90px;
    color: #bd8e2a;
    font-size: 40px;
    padding-bottom: 20px;
}
.sushicontainer{
    padding-bottom: 100px  ;
    transition: 0.5s;

   
   
}
.sushivid{
    width: 700px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    border: 2px solid;
   
}

.sushiintro{
    text-align: center;
    padding: 30px;
    padding-top: 140px;
    padding-left: 840px;
    margin-right: 180px;  
    font-size: 25px;  
    color: beige;
    
}


.sushi_menu{
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(189, 142, 42, 0.3); padding: 20px; border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 37px; 
    padding-left: 340px; padding-right: 340px;
    transition: 0.19s;
    
}

.sushi_menu:hover{
    background-color: #bd8e2a; 
    transition: 0.19s;
    

}

/* sushi bat end styling */

/* plus event styling start */

section.pluseventsection{
    padding: 100px;
    background-color: rgba(75, 64, 29, 0.5);
    border-radius: 100px;
    margin: 50px;
    border: 1px solid;
    
}

h1.plusevent_heading{
    text-align: center;
    font-size: 40px;
    padding-bottom: 70px;
    color: #bd8e2a;

}

.pluseventintro{
    text-align: center;
    font-size: 30px;
    color: bisque;
}

ul.plusevent{
    text-align: center;
    
}



.plusevent li a{
    background-color: rgb(187, 128, 0,0.5); padding: 20px; border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-size: 25px; 
    font-weight: 600; opacity: 80%;
    transition: background-color 0.3s;
    border: 1px solid;
}

.plusevent li a:hover{
    background-color: #d6cebc;
    transition: 0.3s;
}




.pluseventlist {
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
}



/* end restaurant page */


/* start of the booking page */

div.bookingmainvid video{
    width: 100%; 
    opacity: 70%;
}

div.bookingandadven_heading h1{
    text-align: center;
    color: #ffae00;
    padding: 40px; 
    border-radius: 20px;
    font-weight: 800;
    
}



.bookingandAdven_intro{
    padding: 60px; 
    background-color: rgb(189, 142, 42,00.5);
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    border: 2px solid rgb(0, 0, 0,0.5);
}


div.booking_heading h1{
    text-align: center;
    padding: 40px;
    
}



.booking_heading{
    text-align: center;
    color: #bd8e2a;
    padding: 40px; 
    border-radius: 20px;
}

div.booking_vid video{
    border: 2px solid rgb(0, 0, 0);
    width: 600px;
    border-radius: 20px;  
}

/* bottom div tag used to move the video to the center */
div.booking_vid {  
    text-align: center; 
    
}


/* book room button css */

.bookroombuttonDIV{
    text-align: center;
    padding:50px;
    
    
}

div.bookroombuttonDIV a{
    text-decoration: none;
    
    display: inline-block;
    cursor: pointer;
    border: 2px solid #a17441;
    border-radius: 3px;
    color: #fff;
    background: #000; border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 20px;
    transition-duration: .19s;
    
    
}

div.bookroombuttonDIV a:hover{
    color: #000000;
    background: radial-gradient(circle, #ff5500, rgb(255, 153, 0,0.4));
    
}


/* booking intro para */

.booking_introDiv{
    text-align: center;
    padding: 0px 200px;
    
    
}


.booking_introDiv p{
    font-size: 20px;
    background: radial-gradient(circle, rgb(250, 143, 3), rgb(255, 153,0,0));
    padding: 40px 200px;
    color: antiquewhite;
}



/* end of booking a room section */


/* book room button css */

.bookadvbuttonDIV{
    text-align: center;
    padding:50px;
    
    
}

div.bookadvbuttonDIV a{
    text-decoration: none;
    
    display: inline-block;
    cursor: pointer;
    border: 2px solid #a17441;
    border-radius: 3px;
    color: #fff;
    background: #000; border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 20px;
    transition-duration: .19s;
    
    
}

div.bookadvbuttonDIV a:hover{
    color: #000000;
    background: radial-gradient(circle, #ff5500, rgb(255, 153, 0,0.4));
}


/* booking intro para */

.bookingadv_introDiv{
    text-align: center;
    padding: 0px 200px;
    
    
}

.bookingadv_introDiv p{
    font-size: 20px;
    background: radial-gradient(circle, rgb(250, 143, 3), rgb(255, 153,0,0));
    padding: 40px 200px;
    color: antiquewhite;
}




/* Book a room form css start */

 
  
  
  /* book now button bottom styling */
  
  button {
    background-color: #bd8e2a;;
    color: white;
    font-weight: 900;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.19s;
  }


  
  button:hover {
    background-color: #8a681e;
    color: #000;
    transition: 0.2s;
  }
  








  /* Book An Adventure form css start */

 